extends layout

block content
  div#title.px-4.py-5.text-center
    h1#title.display-3.font-weight-bold=title
  div#SchedularBG.container-fluid
    div.row
      div.col
        h2#SchedularText.display-5.font-weight-bold.text-start Assignment & Homework Schedular
        p.lead.text-wrap(style='width: 30rem;') 
          | Utilize Google Calender in order to track homework and assignemnt due dates.
          | In combination with the calender, automatic updates can be made to marks.
      div.col-3
      div.col.text-center.align-self-center
        button#buttonSchedular.btn.btn-primary(onclick='logButton(this.id)') Open Schedular
  div#MarkBG.container-fluid
    div.row
      div.col
        h2#SchedularText.display-5.font-weight-bold.text-start Mark Calculator
        p.lead.text-wrap(style='width: 30rem;') 
          | Store any amount of marks with their respective weights to determine averages.
          | Along with that, the calculator also provides predicitons of best case and worse case
          | scenarios based on current marks given.
      div.col-3
      div.col.text-center.align-self-center
        button#buttonMark.btn.btn-primary Open Mark Calculator
