body {
  padding: 0px;
}

#title {
  padding:50px;
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(173, 216, 230);
}

#SchedularBG {
  padding: 70px;
  background-color: #8ecadb;
}

#SchedularText {
  font-family: 'Ubuntu', sans-serif;
}

#MarkBG {
  padding: 70px;
  background: #6ab9d0;
}

#buttonSchedular {
  padding: 70px;
  font-family: 'Ubuntu', sans-serif; 
  font-size: 30px;
}

#buttonMark {
  padding: 60px;
  font-family: 'Ubuntu', sans-serif; 
  font-size: 25px;
}

a {
  color: #00B7FF;
}
