body {
  padding: 0px;
  margin: 0px;
  padding-bottom: 0;
}

#title {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(173, 216, 230);
  height: 30vh;
}

#SchedularBG {
  background-color: #8ecadb;
  padding: 15px;
}

#SchedularText {
  font-family: 'Ubuntu', sans-serif;
}

#MarkBG {
  background: #6ab9d0;
  padding: 15px;
}

#buttonSchedular {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 30px;
}

#buttonMark {
  font-family: 'Ubuntu', sans-serif; 
  font-size: 25px;
}

#ScheduleTitle {
  font-family: 'Ubuntu', sans-serif;
  background-color: #00cc99;
}

#calendar {
  background-color: #b3ffec;
}

#form {
  background-color: #66ffd9;
}

#list {
  background-color:  #4dffd2;
}

a {
  color: #00B7FF;
}

.container-fluid {
  height: 35vh;
}